[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
pyvis = "*"
boto3 = "*"
python-dotenv = "*"
click = "*"
textual = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.11"
